/*comman*/
.container{
    width: 90%;
    margin: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
/*header section*/
.header{
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}
.header-logo{
    width: 40%;
    float: left;
}
.logo{
    width: 30%;
    margin-top: 2px;
}
.header-list{
    float: right;
    width: 60%;
    list-style: none;
}
.header-list > li{
    display: inline-block;
}
.header-list > li > a{
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
    text-transform: uppercase;
    padding: 30px 14px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.5s;
}
.header-list > button{
    padding: 13px 35px;
    text-transform: uppercase;
    color: #fff;
    background-color: #f57b51;
    font-size: 15px;
    border-radius: 10px;
    transition: color 0.5s;
    opacity: 0.9;
    outline: none;
    border: none;
}
.header-list > button:hover{
    background-color: #f57b51;
    opacity: 1;
}
.dropdown{
    position: relative;
}
.dropdown-list{
    position: absolute;
    margin-top: 10px;
    width: 160px;
    text-align: left;
    background: transparent;
    top: 70%;
    list-style: none;
    border: 1px solid #000;
    visibility: hidden;
    opacity: 0;
}
.dropdown-list > li > a{
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
    text-transform: uppercase;
    padding: 10px 10px;
    display: block;
    transition: color 0.5s;
}
.dropdown .dropdown-but{
    text-transform: uppercase;
    padding: 30px 14px;
    display: block;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.16);
    cursor: pointer;
    color: rgba(0, 0 ,0, .4);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.5s;
}
.dropdown .dropdown-but:focus + .dropdown-list{
    visibility: visible;
    opacity: 1;
}
.dropdown-list{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
}
.header-list > li > a:hover,
.dropdown-list > li > a:hover,
.dropdown .dropdown-but:hover
{
    color: rgba(0, 0, 0, .6);
}
/*home section*/
.home{
    background-image: url("../image/room/room7.jpg");
    height: 100vh;
    background-size: cover;
    position: relative;
}
.home-content{
    width: 65%;
    text-align: center;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%)
}
.home-content .home-desc{
    font-size: 40px;
    text-transform: capitalize;
    font-family: 'Spartan', sans-serif;
    line-height: 1.3;
    color: #fff;
}
.home-content > button{
    margin-top: 40px;
    width: 150px;
    background: rgba(255, 255, 255, 0.16);
    padding: 15px 0;
    border: none;
    outline:none;
    border-radius: 5px;
    font-size: 20px;
    opacity: .8;
    transition:  opacity .2s;
    text-transform: capitalize;
    color: #fff;
}
.home-content > button:hover{
    opacity: 1;
}
.mark{
    text-align: center;
    margin-top: 130px;
}
.mark > span{
    width: 25px;
    height: 7px;
    background-color: #d63447;
    display: inline-block;
    margin-left: 10px;
    border-radius: 4px;
}
.mark .colo{
    background-color: #fff;
}
.mark .colo:hover{
    background-color: #d63447;
}
/*check section*/
.check{
    padding: 80px 0;
}
.check .check-title{
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 40px;
}
.form{
    width: 32%;
    display: inline-block;
    margin-top: 22px
}
.form.mg{
    margin: 0 1.6%;
}
.form > label{
    display: block;
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 10px;
}
.form input,select{
    width: 97%;
    padding: 13px 0;
    border-radius: 10px;
    outline: none;
    border: 1px solid #e9e9e9;
    font-size: 18px;
}
.form .form-button{
    background-color: #f57b51;
    opacity: .9;
    border: none;
    width: 100%;
    border-radius: 10px;
    outline: none;
    padding: 13px 0;
    font-size: 20px;
    color: #fff;
}
.form .form-button:hover{
    opacity: 1;
}
.father{
    margin-top: 100px;
}
.relax{
    float: left;
    width: 50%;
}
.relax-title{
    text-transform: capitalize;
    font-size: 40px;
}
.relax-des{
    font-size: 25px;
    margin: 20px 0;
    display: block;
    color: #333
}
.relax-desc{
    color: #777;
    line-height: 1.5;
    font-size: 18px;
}
.relax-button{
    background-color: #f57b51;
    opacity: .9;
    border: none;
    width: 200px;
    border-radius: 10px;
    outline: none;
    padding: 13px 0;
    font-size: 20px;
    color: #fff;
    margin-top: 60px;
}
.relax-button:hover{
    opacity: 1;
}
.image{
    float: right;
    width: 50%;
}
.image > img{
   position: absolute;
   border-radius: 10px;
} 
.img1{
   margin-left: 100px;
   width: 500px;
   height: 300px;
}
.img2{
    height: 300px;
    width: 500px;
    margin-top: 70px;
    margin-left: 20px;
    border: 5px solid #fff;
}
/*best*/
.best{
    background-color: #e9e9e9;
    width: 100%;
    height: 200px;
}